
.excelParcing {
    padding: 100px 50px 10px 50px;
    font-family: Montserrat;
    .excelParcing-header {
        margin-bottom: 20px;
        .has-search .form-control {
            padding-left: 2.375rem;
        }
        
        .has-search .form-control-feedback {
            position: absolute;
            z-index: 2;
            display: block;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 2.375rem;
            text-align: center;
            pointer-events: none;
            color: #aaa;
        }
        .heading-button {
            position: absolute;
            right: 20px;
            background-color: #061a40;
        }
        .dropdown-item {
            margin-top: 5px;
            input {
                visibility: hidden;
            }
        }
        .dropdown-item:hover {
            background-color: #061a40;
            color: white;
        }
    }
    .mat-elevation-z8 {
        box-shadow: none;
        height: 600px;
        table {
            width: 100%;
            box-shadow: white;
            .mat-row .mat-cell {
                border-bottom: 1px solid transparent;
                border-top: 1px solid transparent;
                cursor: pointer;
                mat-drawer-container{
                    background-color: transparent;
                    .icon-edit {
                        color: #061a40;
                        width: 35px;
                    }
                    .icon-close {
                        color: #d92524;
                        width: 35px;
                    }
                }
            }
        }
    }
    .button-align {
        margin-top: 20px;
        .back , .next{
            background-color: #2495ca;
            color: white;
            width: 100%;
        }
        .submit {
            width: 100%;
        }
    }
}

.drawer {
    width: 500px;
    .drawerHeader {
        text-align: right;
        padding: 30px;
        font-size: 30px;
        cursor: pointer;
    }
    .drawerBody {
        width: 90%;
        margin: auto;
        label {
            font-weight: 400;
            margin-top: 25px;
            font-size: 15px;
        }
        .btn-primary {
            background-color: #2495ca;
            width: 30%;
            margin-top: 30px;
        }
        .btn-success {
            width: 65%;
            margin-top: 30px;
            margin-left: 10px;
        }
    }
}

.drawerFiles {
    width: 500px;
    .drawerHeader {
        text-align: right;
        padding: 30px;
        font-size: 30px;
        cursor: pointer;
    }
    .drawerBody {
        width: 90%;
        margin: auto;
        .filesMain {
            overflow-x: scroll;
            height: 85vh;
        }
        .filesMain::-webkit-scrollbar-track {
            border-radius: 1px;
            border: 1px solid white;
            width: 10px;
        }
        .filesMain::-webkit-scrollbar {
            width: 3px;
            background-color: white;
            border-radius: 5px;
        }
        .filesMain::-webkit-scrollbar-thumb {
            border-radius: 100px;
        }
        .fileTab {
            background-color: #f4f4f4;
            padding: 10px;
            margin-top: 20px;
        }
        .fileIcon {
            color: #707070;
            font-size: 50px;
            text-align: center;
        }
        .subName {
            font-size: 12px;
            word-spacing: 2px;
            color: #707070;
        }
        p {
            margin: .5px;
            margin-top:  -5px;
        }
        .downloadIcon {
            font-size: 30px;
            color: #2495ca;
            padding: 12px;
            cursor: pointer;
        }
    }
}

.errorMessage {
    position: absolute;
    bottom: 20px;
    left: 20px;
    ul li {
        list-style-type: none;
    }
  }

  .fileDrawer{
    display: initial;
  }
  .serachButton {
      background-color: #061a40;
      color: white;
  }
  .input-group input{
      border-color: #061a40;
  }
  
@media only screen and (max-width: 768px) {
    .heading {
        font-size: 22px;
    }
    .button-align {
        .back {
            width: 100%;
            padding: 7px!important;
            font-size: 15px!important;
            font-weight: 300!important;
        }
        .submit {
            width: 100%;
            padding: 7px!important;
            font-size: 15px!important;
            font-weight: 300!important;
        }
    }
}
@media only screen and (max-width: 425px) {
    .excelParcing {
        padding: 10px;
    }
    .heading {
        font-size: 15px;
    }
    .heading-button {
        font-size: 15px;
        position: initial!important;
    }

    .button-align {
        justify-content: flex-start!important;
        .back {
            width: 80%;
            margin: auto;
            font-size: 15px!important;
            font-weight: 300!important;
        }
        .submit {
            width: 80%;
            margin: auto;
            margin-top: 5px!important;
            font-size: 15px!important;
            font-weight: 300!important;
        }
    }

    .table td, .table th {
        font-size: 12px;
        vertical-align: top;
    }
    .mainTable{
        height: 500px!important;
    }
   
}