<div class="stepper-overall d-lg-block d-md-none d-none " >
    <div class="d-flex justify-content-between " >
    <div class="wid-100 mr-3">
        <div>Drive Details</div>
 
        <div class="mt-3"><mat-progress-bar class="app-progress-bar" mode="determinate" value="100" ></mat-progress-bar></div>
   </div>
   <div class="wid-100 mr-3">
        <div>Validate CSV Data</div>
        <div class="mt-3"><mat-progress-bar class="app-progress-bar" mode="determinate" value="100"></mat-progress-bar></div>
    </div>
    <div class="wid-100 mr-3">
        <div>Plan Rounds</div>
        <div class="mt-3"><mat-progress-bar class="app-progress-bar" mode="determinate" value="100"></mat-progress-bar></div>
    </div>
    <div class="wid-100 mr-3">
        <div>Review and Finish</div>
        <div class="mt-3"><mat-progress-bar class="app-progress-bar" mode="determinate" value="100"></mat-progress-bar></div>
    </div>  
</div>


</div>
<div class="d-sm-block d-md-block d-lg-none">
    <mat-horizontal-stepper >
        <mat-step  >
        </mat-step>
        <mat-step >
        </mat-step>
        <mat-step >
        </mat-step>

        <mat-step >
        </mat-step>
        
      </mat-horizontal-stepper>
</div>