<div class="loginbody">
  <div class="d-flex justify-content-between logo">
  <div class="pl-5"><img src="../../../assets/koyo-logo.png" class="koyo-logo d-lg-block d-md-block d-none"></div>
  <div ><img src="../../../assets/presidio-white.png" class="presidio-logo d-lg-block d-md-block d-none "></div>
</div>
  <div class="container d-flex align-items-center justify-content-center  mt-n5">
    <div class="row  col-lg-4 col-md-6 col-12">
      <div class="">
      <div class="innerbox ">
        <div class="">
          <div class="colortwo innertext1">LOGIN</div>
        </div>
        <div class="martop10">
          <div class="mt-4">Login with your Presidio mail id</div>
          <div class="mt-4">
            <button class="loginbtn" onclick="location.href=`https://koyo-dev-test.auth.us-east-1.amazoncognito.com/oauth2/authorize?identity_provider=AzureAD&redirect_uri=https://dev.koyo.app.presidio.com/pages/&response_type=CODE&client_id=4h9k4rnelj3uf9rlff42u464us&scope=aws.cognito.signin.user.admin email openid phone profile`">LOGIN</button>
          </div>
        </div>

        <div class="" class="presidio-blue">
          <img src="../../../assets/presidio-blue.png" class="mt-8">
        </div>
      </div>
    </div>
    </div>

<div class="col-8 koyo-text d-none d-md-none d-lg-block">
    <div class="col-7">
      <h1 class="mb-5" >KOYO</h1>
      <div class="mb-5 innertext"  >Placement Tracker</div>
      <div>Lorem ipsum dolor sit amet, consectetur adipiscing dolfg college hiring management elit, 
        sed do eiusmod tempor incididunt ut labore et magna aliqua. 
        Ut enim ad interview slot organiser nostrud veniam, nostrud exercitation nostrud rounds planner 
        ullamco od tempor incididunt ut labore et magna aliqua , nostrud exercitation nostrud.</div>
    </div>
  </div>

  </div>
</div>
