.font-14 {
    font-size: 14px;
}
.font-18 {
    font-size: 18px;
}
.pad-5 {
    padding: 5px;
}
.pad-10 {
    padding: 10px;
}
.font-22 {
    font-size: 22px;
}
.colorone {
    color: #222A35;
}
.font-bold {
    font-weight: bold;
}
.padbot-10 {
    padding-bottom: 10px;
}
.padtop-10 {
    padding-top: 10px;
}
.padright-30 {
    padding-right:30px ;
}
.marbot-30 {
    margin-bottom: 30px;
}
.padleft-30 {
    padding-left: 30px;
}
.martop-5 {
    margin-top: 5px;
}
.martop-10 {
    margin-top: 10px;
}
.marright-10 {
    margin-right: 10px;
} 
.textleft {
    text-align: left;
}
.textright {
    text-align: right;
}
.colorone {
    color: #222A35;
}

.viewdet {
    background:#061A40;
    color:white;
    border:transparent;
}
.scroll {
    overflow-y: scroll;
}

.cards {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 1%;
    margin-bottom: 2%;
    box-shadow: -2px 3px 10px #00000010;
    border-radius: 8px;
}
.innertext {
    justify-content: space-between;
}
.live {
    background-color: #D61010;
    color: white;
    border-radius: 4px;
    height: 24px;
}
.myslot {
    background-color: #0081BC;
    color:white;
    border:transparent;
    ::ng-deep {
        .mat-icon {
            vertical-align: top;
        }
    }
}
.getin {
    background-color: #499B45;
    color:white;
    border:transparent;
}
.cards-live {
    background: #F4F9FC;
    /* border: #D3E6FB !important; */
    /* border-color: #D3E6FB; */
    border: 1px solid #D3E6FB;
}
.cards-notlive {
    background: white;
    border:transparent;
}
button {
    border-radius: 4px;
}
.continue {
    background-color: #499B45;
    color:white;
    border:transparent;
}
.discard {
    background-color: #D61010;
    color:white;
    border:transparent;
}
@media only screen and (max-width: 769px) {
.sidedash {
    width: auto;
}
.drivetext {
    font-size: 18px;
}
.fixedheight {
    height: 86vh;
}
button {
    padding: 7px !important;
}
.tab-block {
    align-self: flex-end!important;
    margin-top: 20px;
    justify-content: left !important;
    flex-wrap: wrap;
}
.drivetext {
    font-size: 18px;
}
.wid-100{
    width: 100% !important;
}


}


@media only screen and (max-width: 600px) {
    .parentdashboard {
        display: block;
    }

    .innertext .text{
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .datetext {
        width: 100% !important;
    }
    .islivebtns {
        flex-wrap: wrap;
    }
    .wid-100slot {
        width: 100%;
    }
    .wid-100 {
        width: 100% !important;
    }
    .myslot {
        width: 100% !important;
    }
    .getin {
        margin-top: 10px;
    }
    .viewdet {
        margin-top: 10px;
    }
    }
    